@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="card card-body my-3">
    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <select name="category" class="form-select" asp-items="@(new SelectList(Model.Categories,"CategoryId","Name",Model.SelectedCategory))">
                        <option value="0">Hepsi</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">Filtrele</button>
                </div>
            </div>
        </div>

    </form>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width: 100px;">ID</th>
            <th style="width: 100px;">Image</th>
            <th style="text-align: left;">Name</th>
            <th style="text-align: left;">Price</th>       
            <th style="width: 130px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>
                    <img src="/img/@product.Image" class="img-fluid" alt="" />
                </td>
                <td>@product.Name</td>
                <td>@product.Price</td>
 
                <td>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@product.ProductId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
